# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

.project
.settings/**

src/*.o
src/putty/*.o
src/putty/unix/*.o
src/putty/windows/*.o
src/*.so
src/libssh2/
.DS_Store
src/.DS_Store
src/unix/.DS_Store
src/windows/.DS_Store

